main {
	display: block;
	position: relative;
	z-index: 2;
}

.block-soon {
	color: $colorPurple;
	position: relative;
	z-index: 2;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -5px;
    	left: -11%;
		background: url("../img/Milk.png") no-repeat center center;
		background-size: contain;
		width: 575px;
    	height: 265px;
	}

	&:after {
		content: "";
		position: absolute;
		z-index: -2;
		top: 0;
		right: -47%;
		background: url("../img/Milka_surprise.png") no-repeat center center;
		background-size: cover;
		width: 1760px;
    	height: 830px;
	}

	&__text {
		padding-top: 52px;
	}
}

.container {
	margin-top: 140px;
	position: relative;
	z-index: 2;
}

.logo {

	&__img {
		max-height: 155px;
	}
}

.text {
	margin-top: 50px;
	color: $mainColor;
	line-height: 55px;
}

// Counter --------------------
.countdown {
	width: 430px;
	height: 150px;
	font-size: 13px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin-top: 80px;
	margin-left: 10px;
	padding: 24px 0;
	position: relative;

	&:before{
		content: "";
		width: 8px;
		height: 65px;
		background: #444;
		background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
		background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
		background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
		background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
		border: 1px solid #111;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		display: block;
		position: absolute;
		top: 50%;
    	transform: translate(0, -50%);
		left: -10px;
	}

	&:after{
		content: "";
		width: 8px;
		height: 65px;
		background: #444;
		background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
		background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
		background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
		background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
		border: 1px solid #111;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		display: block;
		position: absolute;
		top: 50%;
    	transform: translate(0, -50%);
		right: -10px;
	}

	&__tiles {
		position: relative;
		z-index: 1;

		& > span {
			width: 92px;
			max-width: 92px;
			text-align: center;
			font-size: 48px;
			color: #111;
			background-color: #ddd;
			background-image: -webkit-linear-gradient(top, #bbb, #eee); 
			background-image:    -moz-linear-gradient(top, #bbb, #eee);
			background-image:     -ms-linear-gradient(top, #bbb, #eee);
			background-image:      -o-linear-gradient(top, #bbb, #eee);
			border-top: 1px solid #fff;
			border-radius: 3px;
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
			margin: 0 7px;
			padding: 18px 0;
			display: inline-block;
			position: relative;

			&:before {
				content: "";
				width: 100%;
				height: 13px;
				background: #111;
				display: block;
				padding: 0 3px;
				position: absolute;
				top: 41%;
				left: -3px;
				z-index: -1;
			}

			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background: #eee;
				border-top: 1px solid #333;
				display: block;
				position: absolute;
				top: 48%;
				left: 0;
			}
		}
	}

	&__labels {
		width: 100%;
		height: 25px;
		text-align: center;
		position: absolute;
		bottom: 8px;

		li {
			width: 102px;
			color: #59c5f2;
			text-shadow: 1px 1px 0px #000;
			text-align: center;
			font-size: 15px;
			text-transform: uppercase;
			display: inline-block;
			line-height: 35px;
		}
	}
}

// Footer -----------------
footer {
	margin-top: 100px; 
	padding-top: 25px;
	position: relative;
	z-index: 1;
	background: url("../img/footer.png") no-repeat top;
	background-size: cover;
}

.footer-helper {
	padding-top: 100px;
	text-align: center;
	font-family: $ptSans;
	color: $mainColor;
}

.social {
	width: 100%;

	&__text {
		position: relative;
		font-family: $gotham;
		font-size: 17px;
		text-transform: uppercase;
		padding-top: 55px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background: url("../img/svg/icon-h.svg") no-repeat center center;
			background-size: cover;
			width: 75px;
    		height: 72px;	
		}
	}

	&__icon {
		margin-top: 35px;

		.at-share-btn {

			&:nth-child(n+2) {
				margin-left: 25px;
			}
		}
	}
}

.footer-menu {
	padding-top: 75px;

	li {
		display: inline-block;
		margin: 0 20px 0 22px;

		a {
			font-family: $gothamReg;
			font-size: 13px;
			letter-spacing: 1.3px;
			color: $mainColor;
			text-transform: uppercase;
		}

		&:nth-child(n+2) {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 35px;
    			bottom: 10px;
				left: -28px;
				width: 1px;
				background-color: $mainColor;
			}
		}
	}
}

.text-footer {
	font-size: 13px;
	letter-spacing: 1.3px;
	margin-top: 20px;
	line-height: 16px;
}

.footer-logo {
	margin-top: 20px;
	padding-top: 5px;
	background-color: $mainColor;

	img {
		max-height: 70px;
	}
}