@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial/arialregular-webfont.eot');
    src: url('../fonts/arial/arialregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial/arialregular-webfont.woff2') format('woff2'),
         url('../fonts/arial/arialregular-webfont.woff') format('woff'),
         url('../fonts/arial/arialregular-webfont.ttf') format('truetype'),
         url('../fonts/arial/arialregular-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'centschbkcyrill_btbold';
    src: url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.eot');
    src: url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.woff2') format('woff2'),
         url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.woff') format('woff'),
         url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.ttf') format('truetype'),
         url('../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.svg#centschbkcyrill_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gotham/GothamPro-Bold.eot');
    src: url('../fonts/gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/gotham/GothamPro-Bold.woff') format('woff'),
        url('../fonts/gotham/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/gotham/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Proreg';
    src: url('../fonts/gotham/GothamPro.eot');
    src: url('../fonts/gotham/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamPro.woff2') format('woff2'),
        url('../fonts/gotham/GothamPro.woff') format('woff'),
        url('../fonts/gotham/GothamPro.ttf') format('truetype'),
        url('../fonts/gotham/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}