@media (max-width: 1500px) {
	.wrapper {
		max-width: 1300px;
	}

    .block-soon {

		&:before {
			left: -165px;
		}

		&:after {
			right: -980px;
		}

		&__text {
			padding-top: 40px;
		}
	}
	
	.container {
		margin-top: 120px;
	}

	.logo__img {
		max-height: 135px;
	}

	.text {
		margin-top: 25px;
		line-height: 42px;
	}

	.countdown {
		margin-top: 35px;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		max-width: 1100px;
	}

	.block-soon {
		font-size: 36px;

		&__text {
			font-size: 35px;
		}

		&:before {
			width: 550px;
			height: 245px;
		}
	
		&:after {
			right: -735px;
			width: 1370px;
			height: 650px;
		}
	}

	.container {
		margin-top: 160px;
	}

	.text {
		font-size: 36px;
		line-height: 35px;
	}

	// Counter --------------------
	.countdown {
		margin: 90px auto 0;
	}

	.footer-menu {
		padding-top: 50px;

		li {
			display: block;
			margin: 0;
			line-height: 14px;

			&:nth-child(n+2) {
				margin-top: 10px;
	
				&:after {
					display: none;
				}
			}

			a {
				vertical-align: top;
			}
		}
	}
}

@media (max-width: 992px) {
	.block-soon {

		&__text {
			font-size: 30px;
			padding-top: 25px;
		}

		&:before {
			width: 470px;
    		height: 220px;
		}
	
		&:after {
			right: -550px;
			width: 1060px;
			height: 500px;
		}
	}

	.container {
		margin-top: 140px;
	}

	.logo {

		&__img {
			max-height: 120px;
		}
	}

	.text {
		font-size: 30px;
		line-height: 35px;
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.block-soon {
		font-size: 25px;

		&__text {
			font-size: 25px;
			padding-top: 25px;
		}

		&:before {
    		height: 175px;
		}
	
		&:after {
			right: -530px;
			height: 380px;
		}
	}

	.container {
		margin-top: 350px;
		text-align: center;
	}

	.text {
		font-size: 28px;
		line-height: 33px;
		margin-top: 20px;
	}

	.countdown {
		margin: 40px auto 0;
	}
}

@media (max-width: 480px) {
	.wrapper {
		padding: 0 15px;
	}

    .block-soon {

		&:before {
			top: -20%;
		}
	
		&:after {
			right: -420px;
			height: 330px;
			width: 775px;	
		}
	}

	.container {
		margin-top: 285px;
	}

	// Counter --------------------
	.countdown {
		width: 290px;
		height: 130px;

		&__tiles {

			& > span {
				width: 52px;
				max-width: 52px;
				font-size: 28px;
			}
		}

		&__labels {

			li {
				width: 62px;
				font-size: 12px;
			}
		}
	}

	// Footer------------------
	.footer-menu {

		li {
			a {
				font-size: 12px;
			}
		}
	}

}

@media (max-height: 800px) {
	
}

@media (max-height: 500px) {
	
}

@media (min-height: 1000px) {
	
}