// Fonts
$arial: 'arialregular', sans-serif;
$centschbkcyrill: 'centschbkcyrill_btbold', sans-serif;
$ptSans: 'PT Sans', sans-serif;
$gotham: 'Gotham Pro', sans-serif;
$gothamReg: 'Gotham Proreg', sans-serif;

// Color
$mainColor: #fff;
$colorPurple: #6355a1;