/*CSS reset*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "centschbkcyrill_btbold", sans-serif;
  font-size: 46px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer; }

input, select, textarea {
  border: none;
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

textarea {
  resize: none;
  overflow: auto; }

::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  border: none;
  outline: none; }

@font-face {
  font-family: 'arialregular';
  src: url("../fonts/arial/arialregular-webfont.eot");
  src: url("../fonts/arial/arialregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/arialregular-webfont.woff2") format("woff2"), url("../fonts/arial/arialregular-webfont.woff") format("woff"), url("../fonts/arial/arialregular-webfont.ttf") format("truetype"), url("../fonts/arial/arialregular-webfont.svg#arialregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'centschbkcyrill_btbold';
  src: url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.eot");
  src: url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.woff2") format("woff2"), url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.woff") format("woff"), url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.ttf") format("truetype"), url("../fonts/CenturySchlbkCyrillicBT/centschbkcyrill_bt_bold-webfont.svg#centschbkcyrill_btbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotham/GothamPro-Bold.eot");
  src: url("../fonts/gotham/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamPro-Bold.woff2") format("woff2"), url("../fonts/gotham/GothamPro-Bold.woff") format("woff"), url("../fonts/gotham/GothamPro-Bold.ttf") format("truetype"), url("../fonts/gotham/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Proreg';
  src: url("../fonts/gotham/GothamPro.eot");
  src: url("../fonts/gotham/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamPro.woff2") format("woff2"), url("../fonts/gotham/GothamPro.woff") format("woff"), url("../fonts/gotham/GothamPro.ttf") format("truetype"), url("../fonts/gotham/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  width: 100%;
  max-width: 1650px;
  padding: 0 30px;
  margin: 0 auto; }

.helper {
  background-color: #6355a1;
  overflow-x: hidden;
  overflow-y: visible; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.align-fe {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

main {
  display: block;
  position: relative;
  z-index: 2; }

.block-soon {
  color: #6355a1;
  position: relative;
  z-index: 2; }
  .block-soon:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -11%;
    background: url("../img/Milk.png") no-repeat center center;
    -webkit-background-size: contain;
            background-size: contain;
    width: 575px;
    height: 265px; }
  .block-soon:after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    right: -47%;
    background: url("../img/Milka_surprise.png") no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover;
    width: 1760px;
    height: 830px; }
  .block-soon__text {
    padding-top: 52px; }

.container {
  margin-top: 140px;
  position: relative;
  z-index: 2; }

.logo__img {
  max-height: 155px; }

.text {
  margin-top: 50px;
  color: #fff;
  line-height: 55px; }

.countdown {
  width: 430px;
  height: 150px;
  font-size: 13px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin-top: 80px;
  margin-left: 10px;
  padding: 24px 0;
  position: relative; }
  .countdown:before {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    -webkit-border-top-left-radius: 6px;
            border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: -10px; }
  .countdown:after {
    content: "";
    width: 8px;
    height: 65px;
    background: #444;
    background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
    background-image: -o-linear-gradient(top, #555, #444, #444, #555);
    border: 1px solid #111;
    -webkit-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: -10px; }
  .countdown__tiles {
    position: relative;
    z-index: 1; }
    .countdown__tiles > span {
      width: 92px;
      max-width: 92px;
      text-align: center;
      font-size: 48px;
      color: #111;
      background-color: #ddd;
      background-image: -webkit-linear-gradient(top, #bbb, #eee);
      background-image: -o-linear-gradient(top, #bbb, #eee);
      border-top: 1px solid #fff;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
              box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
      margin: 0 7px;
      padding: 18px 0;
      display: inline-block;
      position: relative; }
      .countdown__tiles > span:before {
        content: "";
        width: 100%;
        height: 13px;
        background: #111;
        display: block;
        padding: 0 3px;
        position: absolute;
        top: 41%;
        left: -3px;
        z-index: -1; }
      .countdown__tiles > span:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #eee;
        border-top: 1px solid #333;
        display: block;
        position: absolute;
        top: 48%;
        left: 0; }
  .countdown__labels {
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px; }
    .countdown__labels li {
      width: 102px;
      color: #59c5f2;
      text-shadow: 1px 1px 0px #000;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 35px; }

footer {
  margin-top: 100px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
  background: url("../img/footer.png") no-repeat top;
  -webkit-background-size: cover;
          background-size: cover; }

.footer-helper {
  padding-top: 100px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #fff; }

.social {
  width: 100%; }
  .social__text {
    position: relative;
    font-family: "Gotham Pro", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 55px; }
    .social__text:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background: url("../img/svg/icon-h.svg") no-repeat center center;
      -webkit-background-size: cover;
              background-size: cover;
      width: 75px;
      height: 72px; }
  .social__icon {
    margin-top: 35px; }
    .social__icon .at-share-btn:nth-child(n+2) {
      margin-left: 25px; }

.footer-menu {
  padding-top: 75px; }
  .footer-menu li {
    display: inline-block;
    margin: 0 20px 0 22px; }
    .footer-menu li a {
      font-family: "Gotham Proreg", sans-serif;
      font-size: 13px;
      letter-spacing: 1.3px;
      color: #fff;
      text-transform: uppercase; }
    .footer-menu li:nth-child(n+2) {
      position: relative; }
      .footer-menu li:nth-child(n+2):after {
        content: "";
        position: absolute;
        top: 35px;
        bottom: 10px;
        left: -28px;
        width: 1px;
        background-color: #fff; }

.text-footer {
  font-size: 13px;
  letter-spacing: 1.3px;
  margin-top: 20px;
  line-height: 16px; }

.footer-logo {
  margin-top: 20px;
  padding-top: 5px;
  background-color: #fff; }
  .footer-logo img {
    max-height: 70px; }

@media (max-width: 1500px) {
  .wrapper {
    max-width: 1300px; }
  .block-soon:before {
    left: -165px; }
  .block-soon:after {
    right: -980px; }
  .block-soon__text {
    padding-top: 40px; }
  .container {
    margin-top: 120px; }
  .logo__img {
    max-height: 135px; }
  .text {
    margin-top: 25px;
    line-height: 42px; }
  .countdown {
    margin-top: 35px; } }

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1100px; }
  .block-soon {
    font-size: 36px; }
    .block-soon__text {
      font-size: 35px; }
    .block-soon:before {
      width: 550px;
      height: 245px; }
    .block-soon:after {
      right: -735px;
      width: 1370px;
      height: 650px; }
  .container {
    margin-top: 160px; }
  .text {
    font-size: 36px;
    line-height: 35px; }
  .countdown {
    margin: 90px auto 0; }
  .footer-menu {
    padding-top: 50px; }
    .footer-menu li {
      display: block;
      margin: 0;
      line-height: 14px; }
      .footer-menu li:nth-child(n+2) {
        margin-top: 10px; }
        .footer-menu li:nth-child(n+2):after {
          display: none; }
      .footer-menu li a {
        vertical-align: top; } }

@media (max-width: 992px) {
  .block-soon__text {
    font-size: 30px;
    padding-top: 25px; }
  .block-soon:before {
    width: 470px;
    height: 220px; }
  .block-soon:after {
    right: -550px;
    width: 1060px;
    height: 500px; }
  .container {
    margin-top: 140px; }
  .logo__img {
    max-height: 120px; }
  .text {
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px; } }

@media (max-width: 768px) {
  .block-soon {
    font-size: 25px; }
    .block-soon__text {
      font-size: 25px;
      padding-top: 25px; }
    .block-soon:before {
      height: 175px; }
    .block-soon:after {
      right: -530px;
      height: 380px; }
  .container {
    margin-top: 350px;
    text-align: center; }
  .text {
    font-size: 28px;
    line-height: 33px;
    margin-top: 20px; }
  .countdown {
    margin: 40px auto 0; } }

@media (max-width: 480px) {
  .wrapper {
    padding: 0 15px; }
  .block-soon:before {
    top: -20%; }
  .block-soon:after {
    right: -420px;
    height: 330px;
    width: 775px; }
  .container {
    margin-top: 285px; }
  .countdown {
    width: 290px;
    height: 130px; }
    .countdown__tiles > span {
      width: 52px;
      max-width: 52px;
      font-size: 28px; }
    .countdown__labels li {
      width: 62px;
      font-size: 12px; }
  .footer-menu li a {
    font-size: 12px; } }
